.header{
	width:100%;
	text-align:left;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding:  45px 0 0;
  z-index: 100;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.header-fixed{
    position: fixed;
    top: 0;
    height: 108px;
    background-color: #414c63;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    
  }
}
.logo{
  display: block;
  max-width: 60px;
  img{
    display: block;
  }
}
