section.section-about#about  
  .wrapper
    .about
      .about__left
        .user
          .user__avatar
            +image('content/user.jpg')
          .user-cont
            table.user-cont__table
              - 
                var data = [
                  ['Проживаю:', 'Киев'],
                  ['Возраст:', '28 лет'],
                  ['Родился:', '16 декабря 1990'],
                ]
              each row in data
                tr.user-cont__row
                  td.user-cont__cell.user-cont__cell_1 #{row[0]}
                  td.user-cont__cell.user-cont__cell_2 #{row[1]}
      .about__right.about-me
        span.about-me__subtitle Привет, меня зовут
        h2.about-me__name Моисеев Николай
        p.about-me__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        p.about-me__desc.about-me__desc_italic Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    