footer.footer
  .wrapper.wrapper-flex-top
    .footer__left
      .copyright © 2019
      .footer-author.footer__left-author
        .footer-author__name Моисеев Николай
        .footer-author__prof Личный сайт  
          span.nowrap веб-разработчика
        
    .footer__right
      .footer__nav
        div.main-nav
          ul.main-nav-list
            - var nav = ["Главная", "Обо мне", "Навыки" , "Работы", "Отзывы", "Связаться"];
                each item in nav
                  li.main-nav-list__item
                    a(href="#").main-nav-list__link= item       
      .footer-bottom
        .footer-bottom__left
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          .footer__social
            +list-link('social-list_rounted social', ["insta", "vk", "github"], 'social-icon')
        blockquote.footer-bottom__right
          .blockquote__text
            p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          span.quote-author Martin Golding  
        
    
  
