section.main-screen
  .wrapper.main-screen__wrapper
    .main-screen__text
      .user-info
        .user-info__desc Личный сайт веб&nbsp;разработчика
        h1.user-info__name 
          span Николай 
          span Моисеев
    .main-screen__btn  
      a.scroll-down(href="#")
        span.scroll-down__text Скролл
        +icon('scroll', 'scroll-icon')
  //div(data-speed=".3").main-screen-bg.js-parallax-item
  div.main-screen-bg.js-parallax-item