section.section-reviews#reviews
  div(data-speed="80").leaves-img.leaves-img_1.js-parallax-item
    +image('content/leaves-1.png')
  div(data-speed="31").leaves-img.leaves-img_2.js-parallax-item
    +image('content/leaves-2.png')
  div(data-speed="20").leaves-img.leaves-img_3.js-parallax-item
    +image('content/leaves-3.png')
  div(data-speed="60").leaves-img.leaves-img_4.js-parallax-item
    +image('content/leaves-4.png')
  .wrapper
    #reviews-slider  
    h2.section-title.section-title_white.section-reviews__title.section-reviews__form-title#contacts Связаться со мной
    .box-form.section-reviews__form
      #reviews-form
        form(@submit.prevent="submit", method="post")
          .box-field__row
            .box-field(:class="{ 'has-error': showError.name }" )
              label.box-field__label Введите ваше имя
              .box-field__input
                +icon('user', 'user-icon box-field__icon')
                input.form-control(type="text", v-model="messages.name")
                span.bottom-line
                span.input-error {{ errors.name }}
            .box-field(:class="{ 'has-error': showError.email }" )
              label.box-field__label Введите ваш email
              .box-field__input              
                +icon('envelope', 'envelope-icon box-field__icon')
                input.form-control(type="text", v-model="messages.email" )
                span.bottom-line
                span.input-error {{ errors.email }}
          .box-field(:class="{ 'has-error': showError.desc }" )
              label.box-field__label Сообщение к письму
              .box-field__input
                +icon('message', 'message-icon box-field__icon')
                textarea.form-control(v-model="messages.desc")
                span.bottom-line
                span.input-error {{ errors.desc }}
          .box-field-btn
            input.btn.btn-orange(type="submit", value="Отправить")