section.section-reviews
  .leaves-img.leaves-img_1
    +image('content/leaves-1.png')
  .leaves-img.leaves-img_2
    +image('content/leaves-2.png')
  .leaves-img.leaves-img_3
    +image('content/leaves-3.png')
  .leaves-img.leaves-img_4
    +image('content/leaves-4.png')
  .wrapper
    .row-with-btn.section-reviews__title
      h2.section-title.section-title_white Что обо мне говорят
      .slider-btn.slider-btn_horizontal.section-reviews__btns
        button.slider-arrow.slider-prev.slider-arrow_round
          +icon('arrow-down', 'arrow-left-icon')
        button.slider-arrow.slider-next.slider-arrow_round
          +icon('arrow-down', 'arrow-right-icon')
    .section-reviews__slider
      .reviews-slider
        .reviews-slider__item
          .reviews-slider__cont
            +icon('quote', 'quote-icon')
            .reviews-slider__desc
              p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews-author.reviews-slider__author
              .reviews-author__img
                +image('content/reviews-1.jpg', 'author-avatar')
              .reviews-author__text
                .reviews-author__name Ковальчук Дмитрий
                .reviews-author__prof Основатель Loftschool
        .reviews-slider__item
          .reviews-slider__cont
            .reviews-slider__quote
              +icon('quote', 'quote-icon')
            .reviews-slider__desc
              p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews-author.reviews-slider__author
              .reviews-author__img
                +image('content/reviews-2.jpg', 'author-avatar')
              .reviews-author__text
                .reviews-author__name Владимир Сабанцев
                .reviews-author__prof Преподаватель
    h2.section-title.section-title_white.section-reviews__title Связаться со мной
    .box-form.section-reviews__form
      form
        .box-field__row
          .box-field
            label.box-field__label Введите ваше имя
            .box-field__input
              +icon('user', 'user-icon box-field__icon')
              input.form-control(type="text", value="Ковальчук Дмитрий" required)
              span.bottom-line
          .box-field
            label.box-field__label Введите ваш email
            .box-field__input              
              +icon('envelope', 'envelope-icon box-field__icon')
              input.form-control(type="email", value="loftschool@study.com" required)
              span.bottom-line
        .box-field
            label.box-field__label Сообщение к письму
            .box-field__input
              +icon('message', 'message-icon box-field__icon')
              textarea.form-control(placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
              span.bottom-line
        .box-field-btn
          input.btn.btn-orange(type="submit", value="Отправить")