section.section-skills#skills
  .hands-img
    +image('content/hands.png')  
  .wrapper
    .box-skills
      .skills-title
        h2.section-title.section-title_sm.section-title_white.skills-title__title Чем я могу быть полезен вам
        .skills-title__desc
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      #skills-component
  .hands-img-tablet
      +image('content/hands-img-tablet.png')
      
         