script(type="text/x-template")#slider-container
  .portfolio-row(v-if="Object.keys(works).length")
    display(
      :works="works",
      :currentWork="currentWork",
      :currentIndex="currentIndex",
      @slide="hadleSlide",
      @activateImage="activateImage"
    )    
    info(
      :currentWork="currentWork"
      
    )    

script(type="text/x-template")#slider-display
  .portfolio-row__slider
    .portfolio-slider        
      .portfolio-big
        .portfolio-big__counter {{ currentIndex + 1}}   
        .portfolio-big__img 
          transition(name="fade")          
            img(:src="`https://webdev-api.loftschool.com/${currentWork.photo}`" alt="" :key="currentWork.photo") 
        .portfolio-slider__btn 
          btns(
            @slide="direction => $emit('slide', direction)"
          )           
      .portfolio-slider__sm
        thumbs(
          :works="works",
          :currentWork="currentWork",
          @activateImage="imageIndex => $emit('activateImage', imageIndex)"
        )
                
script(type="text/x-template")#slider-thumbs
  ul.portfolio-sm
    li.portfolio-sm__item(
      v-for="(work, index) in works" :key="index"
      :class="{active: currentWork.id === work.id }"
    )      
      a.portfolio-sm__link(@click.prevent="$emit('activateImage', index)")
        img(:src="`https://webdev-api.loftschool.com/${work.photo}`" alt="") 

script(type="text/x-template")#slider-btns
  .slider-btn
    button(@click.prevent="$emit('slide', 'next')").slider-arrow.slider-next
      +icon('arrow-down', 'arrow-right-icon')
    button(@click.prevent="$emit('slide', 'prev')").slider-arrow.slider-prev
      +icon('arrow-down', 'arrow-left-icon')


script(type="text/x-template")#slider-info
  .portfolio-desc
    .portfolio-desc__tag
      tags(
        :currentWork="currentWork"
        :tagsArray="tagsArray"
      )     
     
    .portfolio-desc__title {{ currentWork.title }}
    .portfolio-desc__text
      p {{ currentWork.description }}
    a.portfolio-link(:href="currentWork.link") 
      +icon('link', 'link-icon')
      span Посмотреть сайт

script(type="text/x-template")#slider-tags
  ul.tag-list
    li.tag-list__item(v-for="(tag, index) in tagsArray")
      .tag-list__title {{ tag }}
